*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Raleway', sans-serif;
    background: #000;
}

.background{
    background: url(background.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.text{
    margin-top: 45vh;
    flex: 1;
}

.box{
    margin-top: 33vh;
    flex: 1;
}

.text{
    margin-left: 10%;
    font-weight: 300px;
}

.box{
    margin-left: 25%;
}

.text h1{
    font-size: 70px;
    color: #fff;
    font-weight: 500;
}

.text p{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.text p a{
    color: #fff;
    font-weight: 700;
}

.form{
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 250px;
}

input{
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.username, .password, .fullname, .email{
    border-bottom: 1px solid #fff;
}

.button{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
}

.button:hover{
    background: #fff;
    color: #000;
}